.wrapper {
  padding-bottom: 50px;
}
footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#show-panel-success {
    position: fixed;
    width: 20%;
    bottom: 0px;
    z-index: 9999;
    margin: 0px auto;
    right: 10px;
}
.main-footer{
	display: block;
	float: left;
}
.lang_header{
  float: right;
}
#search-nav{
	width: 100%;
}
.ion.ion-document-text{
	font-size: 48px !important;
}
.label-head.web {
	font-size: 28px;
}
@media screen and (max-width: 768px) {
  .label-head.web {
    font-size: 22px;
  }
} 
/*IPAD*/
@media screen and (max-width: 480px) {
 .label-head.web {
      font-size: 16px;
      text-align: right;
      vertical-align: middle;
    }

  #search-nav {
      text-align: right;
      
  }
}

@media print{
   .modal-backdrop{
       display:none;
   }
   .modal-content {
      border:0px !important;
   }
}